<footer class="site-footer">
    <!--<section class="search">
    <input type="text" placeholder="Search the archives" />
    </section>-->
    <section class="sections">
        <ul>
            <a href="/section/news/"><li>News</li></a>
            <a href="/section/student-news/"><li>Students</li></a>
            <a href="/section/administration/"><li>Administration</li></a>
            <a href="/spotlights/"><li>Spotlights</li></a>
            <a href="/section/covid/"><li>Covid-19</li></a>
            <a href="/section/police-log/"><li>Police Log</li></a>
        </ul>
        <ul>
            <a href="/section/opinion/"><li>Opinion</li></a>
            <a href="/section/editorial/"><li>Editorials</li></a>
            <a href="/section/columns/"><li>Columns</li></a>
            <a href="/section/op-ed/"><li>Op-Eds</li></a>
            <a href="/section/letters-to-the-editor/"><li>Letters to the Editor</li></a>
        </ul>
        <ul>
            <a href="/section/arts-and-living"><li>Arts and Living</li></a>
            <a href="/section/campus-life/"><li>Campus Life</li></a>
            <a href="/section/film-and-tv/"><li>Film and TV</li></a>
            <a href="/section/music/"><li>Music</li></a>
            <a href="/section/books/"><li>Books</li></a>
            <a href="/section/theater/"><li>Theater</li></a>
        </ul>

        <ul>
            <a href="/section/sports/"><li>Sports</li></a>
            <a href="/section/fall-sports/"><li>Fall</li></a>
            <a href="/section/winter-sports/"><li>Winter</li></a>
            <a href="/section/spring-sports/"><li>Spring</li></a>
            <a href="/section/general-sports/"><li>General</li></a>
        </ul>
        <ul>
            <a href="/section/podcast/"><li>Podcasts</li></a>
            <a href="/section/tusk-talks/"><li>Tusk Talks</li></a>
            <a href="/section/the-student-sums-it-up/"><li>The Student Sums It Up</li></a>
            <a href="/section/terras-irradient/"><li>Terras Irradient</li></a>
        </ul>
        <ul>
            <a href="/amusements/"><li>Amusements</li></a>
            <a href="/section/crossword/"><li>Crossword</li></a>
            <a href="/section/cartoon/"><li>Cartoons</li></a>
            <a href="/section/satire/"><li>Satire</li></a>
        </ul>
    </section>

    <section class="links">
        <div class="brand">
            <a href="/">© 2021 The Amherst Student</a>
        </div>
        <div class="pages">
            <a href="/about/">About</a>
            <a href="/contribute/">Contribute</a>
            <a href="https://status.amherststudent.com/">Status</a>
        </div>
    </section>
</footer>
